<div>
  <input mat-input placeholder="Filter" (keyup)="filterData($event.target.value)"/>
</div>

<mat-table #table [dataSource]="dataSource" class="example-table">
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row (click)="rowClicked(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>

        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
            <mat-cell *matCellDef="let row" title="{{ row.title }}">{{ row.title }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="url">
            <mat-header-cell *matHeaderCellDef >URL</mat-header-cell>
            <mat-cell *matCellDef="let row" title="{{ row.url }}">{{ row.url }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="created_at">
            <mat-header-cell *matHeaderCellDef >Created At</mat-header-cell>
            <mat-cell *matCellDef="let row" title="{{ row.created_at }}">{{ row.created_at }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="author">
            <mat-header-cell *matHeaderCellDef >Author</mat-header-cell>
            <mat-cell *matCellDef="let row;" title="{{ row.author }}">{{ row.author }}</mat-cell>
        </ng-container>
         </mat-table>
    